:root {
  --black-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --text-white-shadow: rgba(226, 226, 226, 0.8) 0px 1px 1px;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

.pageTitle {
  font-size: 1.6rem;
  color: #fff;
  text-shadow: var(--text-white-shadow);
}

.uploaders {
  display: flex;
  gap: 16px;
}

.header {
  text-align: center;
  box-shadow: var(--black-shadow);
}

.content {
  display: flex;
  padding: 16px 96px;
  flex-direction: column;
  align-items: center;
}

.startButton {
  margin: 36px 0;
}